<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.snaptrap">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application android:largeHeap="true" android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" android:allowBackup="false" android:theme="@style/AppTheme">
		<meta-data android:name="xposedmodule" android:value="true" />
		<meta-data android:name="xposeddescription" android:value="Bring back various modifications to Snapchat" />
		<meta-data android:name="xposedminversion" android:value="50" />
		<meta-data android:name="xposedscope" android:resource="@array/snapchat_packages" />
		<activity android:name=".MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
